.wordmark {
  display: inline-flex;
  align-items: center;
}

.wordmark img {
  width: auto;
}

.md img {
  height: 30px;
}

.lg img {
  height: 44px;
}

.dark,
:root[data-theme='dark'] .light {
  display: none;
}

:root[data-theme='dark'] .dark {
  display: block;
}
